.form {
    padding: 20px;
    box-shadow: 0 0px 5px 0px rgba(17, 12, 46, 0.16);
    width: 100%;
    border-radius: 5px;
}

label {
    position: relative;
    display: inline-block;
    margin-left: 7px;
    z-index: 15;
    padding: 0 5px;
    font-size: 16px;
    top: 10px;
}

label::before {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 5px;
    background-color: #fff;
    content: '';
    z-index: -1;
}

.submit {
    width: 200px;
}
@media (max-width: 580px) {
    .form {
        width: 100%;
    }
    .submit {
        width: 100%;
        margin-left:0;
    }
}