.form {
    padding-top: 20px;
    width: 800px;
}
.submit {
    width: 200px;
    margin-left: 100px;
}
@media (max-width: 580px) {
    .form {
        padding-top: 0;
        width: 100%;
    }
    .submit {
        width: 300px;
        margin-left:0;
    }
}