.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;  
}

.robot {
    font-size: 150px;
    position: absolute;
    left: calc(50% - 75px);
}

@media (prefers-reduced-motion: no-preference) {
    .robot {
      animation: App-logo-spin infinite 3s linear;
    }
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }