.task {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    min-width: 150px;
    height: 150px;
    background-color: var(--task-background);
    border-radius: 5px;
    box-shadow: 0 0px 5px 0px rgba(17, 12, 46, 0.16);
    transition: 0.3S;
    margin: 10px;
    color: var(--task-color);
}

.icon {
    font-size: 30px;
}

.task:hover {
    color: var(--task-hover-color);
    background-color: var(--task-hover-background-color);
}

.task:active {
    color: var(--task-active-color);
    background-color: var(--task-active-background-color);
}

.info {
    font-size: .9rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.label {
    box-sizing: border-box;
    padding-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    border-bottom: 2px solid var(--label-border-bottom);
}

.task:hover .label {
    border-bottom: 2px solid var(--task-hover-color);
}

.text {
    height: 80px;
    overflow-y: hidden;
}

.text  {
    font-weight: 400;
    display: flex;
    white-space: pre-wrap;
    flex-wrap: wrap;
    color: var(--text-color);
}

.task:active .info .text,
.task:active .info .upDate {
    font-weight: 400;
    display: flex;
    white-space: pre-wrap;
    flex-wrap: wrap;
    color: var(--text-active-color);
}

.task:hover .text,
.task:hover .upDate {
    color: var(--text-hover-color);
}

.upDate {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: var(--text-color);
}

.active {
    box-shadow: 0 0px 5px 0px #32CD32;
}

.close {
    opacity: 0.7;
    box-shadow: 0 0px 5px 0px #FF2400;
}

.noClosed {
    width: 0;
    overflow: hidden;
}

.closed {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    color: var(--task-hover-color);
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px #FF2400;
    font-weight: 600;
    transform: rotate(-45deg);
}

.delete {
    color: var(--task-hover-color);
    display: none;
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 1.1rem;
}

.task:hover .delete {
    display: block;
}

.delete:active {
    color: var(--task-color);
}

:root[data-theme="light"] {
    --task-background: #F4F4F4;
    --task-color: #282c34;
    --task-hover-color: #fff;
    --task-hover-background-color: #144272;
    --task-active-color: #282c34;
    --task-active-background-color: #ffF;
    --label-border-bottom: #205395c2;
    --text-color: #282c3488;
    --text-hover-color: #fff;
    --text-active-color: #282c3488;
}

:root[data-theme="dark"] {
    --task-background: #3b404b;
    --task-hover-color: #282c34;
    --task-color: #fff;
    --task-hover-background-color: #fff;
    --task-active-color: #282c34;
    --task-active-background-color: #ffF;
    --label-border-bottom: #fff;
    --text-hover-color: #282c3488;
    --text-color: #fff;
    --text-active-color: #282c3488;
}