.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #282c34; */
  height: 100vh;
  font-size: 14px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #282c34;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 20px 10px 20px 10px;
  width: 1280px;
}

footer {
  display: flex;
  justify-content: center;
  min-height: 100px;
  width: 100%;
  background: #F4F4F4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 1280px) {

  .content {
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}